@model SmallBusinessManagementSystemApp.Models.Models.Supplier
@{
    Layout = null;
}

@if (ViewBag.SuccessMsg != null)
{
    <h3 style="font-family:'Times New Roman', Times, serif; color:darkgreen">@ViewBag.SuccessMsg</h3>
}

@if (ViewBag.FailMsg != null)
{
    <h3 style="font-family:'Times New Roman', Times, serif; color:darkgreen">@ViewBag.FailMsg</h3>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
